#root {
  --primary-bg: #0B1220;
  --secondary-bg: #121A26;
  --tertiary-bg: #1A2332;
  --divider-clr: #202A3A;

  --primary-text: #F1F5F9;
  --secondary-text: #A7B0BE;

  --blue: #1279df;
  --blue-hover: #1876D1;
  --blue-glow: rgba(30, 144, 255, 0.35);

  --win-clr: #4ADE80;
  --lose-clr: #F87171;
  --trophy-clr: #FACC15;


  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0px;
  padding: 2rem;
  padding-bottom: 0px;
  background-color: var(--primary-bg);
}


#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3em;
  padding-bottom: 10px;
  padding-right: 2em;
  border-bottom: 2px solid var(--divider-clr);
}

.pg-title {
  display: flex;
  gap: 20px;
  font-size: 24px;
  color: var(--primary-text);
  align-items: center;
}

.logo-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  background-color: var(--divider-clr);
  border-radius: 5px;
  padding: 4px;
}

.logo-img {
  width: 1.3em;
  height: auto;
}

.nav-links {
  display: flex;
  gap: 2em;
  font-size: 18px;
}

.is-active-page {
  border-bottom: 2px solid var(--secondary-text);
}


/* BODY STYLING */

.page-body {
  flex: 1 1 auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.instructions {
  text-align: center;
  margin-top: 1em;
}

.instructions > h1 {
  font-size: 36px;
}

.instructions > em {
  font-size: 16px;
  font-weight: 300;
}

/*  GENERIC CARD STYLING */

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  flex: 0 0 55rem;
  display: flex;
  align-items: center;
  background: var(--secondary-bg);              /* panel background */
  border: 1px solid #243044;        /* subtle border */
  border-radius: 14px;              /* smooth curves */
  padding: 2.2rem;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
  transition: transform 0.15s ease, box-shadow 0.15s ease;
  overflow: visible;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

/* PREDICTION DASHBOARD FORM */

#dashboard-form {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1.5em;
}

#dashboard-form label {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  color:#F1F5F9;
}

#dashboard-form .selection-btn {
  display: flex;
  background-color: transparent;
}

#dashboard-form select {
  flex: 1 1 auto;
  background-color: var(--divider-clr);
  padding: 1em;
  font-size: 1em;
  border-radius: 6px;
  cursor: pointer;
  overflow: visible;
}

.prediction-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.prediction-button {
  text-align: center;
  border-radius: 6px;
  background-color: var(--blue);
  border: 1px solid var(--secondary-bg);
  box-shadow: 0 0 5px var(--blue-glow);
  font-weight: 600;
  font-size: 1rem;
  padding: 1.5em;
  transition: transform 0.3s ease-in-out;
}

.prediction-button:hover {
  transform: scale(1.05);
}

.error-txt {
  font-size: 11px;
  text-align: center;
  color: var(--lose-clr);
}

/* PREDICTED WINNER SECTION */

.prediction-contents {
  display: flex;
  flex-direction: column;
}

.default-prediction-text {
  font-size: 16px;
  font-weight: 300;
}

.predictions-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-size: 1.3rem;
  color: var(--win-clr);
}

.trophy-svg {
  width: 1.5rem;
  height: 2rem;
  fill: var(--trophy-clr);
}

.prediction-contents {
  flex: 1 1 auto;
  width: 40em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3em;
  margin-top: 1.5em;
}

.team-result {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  font-weight: 500;
}

.logo-container {
  display: flex;
  width: 150px;
  height: auto;
  align-items: center;
  justify-content: center;
  background-color:var(--divider-clr);
  border-radius: 10px;
}

.team-logo {
  width: 120px;
  height: auto;
}

.versus {
  font-size: 1.2em;
  font-weight: 800;
  opacity: 0.2;
}

.win-team-text {
  color: var(--win-clr);
  font-size: 2rem;
  font-weight: 700;
}

.lose-team-text {
  font-size: 2rem;
  font-weight: 700;
  opacity: 0.3;
}

.std-prob-title-text {
  font-size: 12px;
  opacity: 0.3;
}

.lose-team-name {
  opacity: 0.3;
}



/* FOOTER STYLING */

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  gap: 20px;
  font-size: 12px;
  font-weight: 200;
  color: var(--secondary-text);
  padding: 1em;
  border-top: 2px solid var(--divider-clr);
  margin-top: 2em;
}

.vert-divider {
  width: 1px;
  height: 20px;
  background-color: #A7B0BE;
}






